[submodule "themes/reimu"]
	path = themes/reimu
	url = https://github.com/d-sketon/hugo-theme-reimu.git
[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack
